div.limiteds{
	width: 100%;
	height: 550px;
	background-color: #fff;
}
div.limited{
	width: 1100px;
	/*height: 400px;*/
	/*background-color: pink;*/
	margin: 0 auto;
}
div.limited-top{
	width: 100%;
	height: 106px;
	margin: 0 auto;
	/*background-color: orange;*/
	position: relative;
}
div.limited-top>ul>li{
	position: absolute;
}
div.limited-top>ul>li:first-child{
	left: 0;
	top: 60px;
	font-size: 24px;
	font-weight:700;
}
div.limited-top>ul>li:last-child{
	right: 0;
	top: 70px;
}
div.limited-top>ul>li>a:hover{
	color: #b4a078;
}
div.limited-content{
    width: 100%;
    height: 380px;
    position: relative;
    float: left;
}
div.limited-content{
	content: "";
	display: block;
	clear: both;
}
div.limited-content ul>li:nth-child(1)
{
	width: 226px;
	height: 380px;
	/*background-color: #336666;*/
	border-right: 0;
	float: left;
	/*position: absolute;
	left: 0;
	top: 0;*/
	background-image: url(../images/限时购/1.jpg);
}
div.limited-content ul>li:nth-child(2),
div.limited-content ul>li:nth-child(3),
div.limited-content ul>li:nth-child(4),
div.limited-content ul>li:nth-child(5)
{   box-sizing: border-box;
	width: 435px;
	height: 190px;
	/*background-color: teal;*/
	float: left;
	position: relative;
	/*left: 0;
	top: 0;*/
	border:1px solid #f0ece4;
	border-left: 0;
}
div.limited-content ul>li:nth-child(4),
div.limited-content ul>li:nth-child(5){
	border-top: 0;
}
div.limited-content ul>li:nth-child(2)>div.box1,
div.limited-content ul>li:nth-child(3)>div.box2,
div.limited-content ul>li:nth-child(4)>div.box3,
div.limited-content ul>li:nth-child(5)>div.box4
{   width: 180px;
	height: 182px;
	margin:.3em 0;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid #f0ece4;
	overflow: hidden;

}
div.limited-content ul>li:nth-child(2)>div.description1,
div.limited-content ul>li:nth-child(3)>div.description2,
div.limited-content ul>li:nth-child(4)>div.description3,
div.limited-content ul>li:nth-child(5)>div.description4
{
	width: 254px;
	height: 182px;
	/*background-color:#ccc;*/
	position: absolute;
	top: 3px;
	left:180px;
	/*text-align: center;*/
}
div.limited-content ul>li:nth-child(2)>div.box1>a>img,
div.limited-content ul>li:nth-child(3)>div.box2>a>img,
div.limited-content ul>li:nth-child(4)>div.box3>a>img,
div.limited-content ul>li:nth-child(5)>div.box4>a>img
{
	transition: transform 1s;
}
div.limited-content ul>li:nth-child(2)>div.box1:hover>a>img,
div.limited-content ul>li:nth-child(3)>div.box2:hover>a>img,
div.limited-content ul>li:nth-child(4)>div.box3:hover>a>img,
div.limited-content ul>li:nth-child(5)>div.box4:hover>a>img
{
	transform:scale(1.06);
}
div.limited-content ul>li:nth-child(2)>div.description1>p:first-child,
div.limited-content ul>li:nth-child(3)>div.description2>p:first-child,
div.limited-content ul>li:nth-child(4)>div.description3>p:first-child,
div.limited-content ul>li:nth-child(5)>div.description4>p:first-child
{
	font-size: 16px;
	font-weight: 400;
	margin:.6em 0 .4em 0;
}
div.limited-content ul>li:nth-child(2)>div.description1>p:first-child>a:hover,
div.limited-content ul>li:nth-child(3)>div.description2>p:first-child>a:hover,
div.limited-content ul>li:nth-child(4)>div.description3>p:first-child>a:hover,
div.limited-content ul>li:nth-child(5)>div.description4>p:first-child>a:hover
{
	color: #b4a078;
}
div.limited-content ul>li:nth-child(2)>div.description1>p:nth-child(2),
div.limited-content ul>li:nth-child(3)>div.description2>p:nth-child(2),
div.limited-content ul>li:nth-child(4)>div.description3>p:nth-child(2),
div.limited-content ul>li:nth-child(5)>div.description4>p:nth-child(2)
{   margin-bottom: .5em;
	color: #999999;
}
div.limited-content ul>li:nth-child(2)>div.description1>div,
div.limited-content ul>li:nth-child(3)>div.description2>div,
div.limited-content ul>li:nth-child(4)>div.description3>div,
div.limited-content ul>li:nth-child(5)>div.description4>div
{
   width: 150px;
   height: 10px;
   margin-top: 1em;
   border-radius: 10px;
   background-color: #ffe5e5;
   border: 1px solid #f2cecd;
   display: inline-block;
}
div.limited-content ul>li:nth-child(2)>div.description1>span,
div.limited-content ul>li:nth-child(3)>div.description2>span,
div.limited-content ul>li:nth-child(4)>div.description3>span,
div.limited-content ul>li:nth-child(5)>div.description4>span
{
	color: #999999;
}
div.limited-content ul>li:nth-child(2)>div.description1>p,
div.limited-content ul>li:nth-child(3)>div.description2>p,
div.limited-content ul>li:nth-child(4)>div.description3>p,
div.limited-content ul>li:nth-child(5)>div.description4>p{
   margin: .3em;
}
div.limited-content ul>li:nth-child(2)>div.description1>p>span:nth-child(1),
div.limited-content ul>li:nth-child(3)>div.description2>p>span:nth-child(1),
div.limited-content ul>li:nth-child(4)>div.description3>p>span:nth-child(1),
div.limited-content ul>li:nth-child(5)>div.description4>p>span:nth-child(1)
{
      font-size: 12px;
      color: #be4141;
      margin-right: .2em;

}
div.limited-content ul>li:nth-child(2)>div.description1>p>span:nth-child(2),
div.limited-content ul>li:nth-child(3)>div.description2>p>span:nth-child(2),
div.limited-content ul>li:nth-child(4)>div.description3>p>span:nth-child(2),
div.limited-content ul>li:nth-child(5)>div.description4>p>span:nth-child(2)
{
	font-size: 24px;
	font-weight: 700;
      color: #be4141;
}
div.limited-content ul>li:nth-child(2)>div.description1>p>span:nth-child(3),
div.limited-content ul>li:nth-child(3)>div.description2>p>span:nth-child(3),
div.limited-content ul>li:nth-child(4)>div.description3>p>span:nth-child(3),
div.limited-content ul>li:nth-child(5)>div.description4>p>span:nth-child(3)
{
	color: #999;
	margin-left: 1em;

}
div.limited-content ul>li:nth-child(2)>div.description1>p>span:nth-child(4),
div.limited-content ul>li:nth-child(3)>div.description2>p>span:nth-child(4),
div.limited-content ul>li:nth-child(4)>div.description3>p>span:nth-child(4),
div.limited-content ul>li:nth-child(5)>div.description4>p>span:nth-child(4)
{   
	text-decoration: line-through;
	color: #999;
}
div.limited-content ul>li:nth-child(2)>div.description1>p:last-child>a,
div.limited-content ul>li:nth-child(3)>div.description2>p:last-child>a,
div.limited-content ul>li:nth-child(4)>div.description3>p:last-child>a,
div.limited-content ul>li:nth-child(5)>div.description4>p:last-child>a
{   
	width: 120px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	display: block;
	background-color: #be4141;
	color: #fff;
}
div.limited-content ul>li:nth-child(2)>div.description1>p:last-child>a:hover,
div.limited-content ul>li:nth-child(3)>div.description2>p:last-child>a:hover,
div.limited-content ul>li:nth-child(4)>div.description3>p:last-child>a:hover,
div.limited-content ul>li:nth-child(5)>div.description4>p:last-child>a:hover
{
	background-color: #da4f4f;
}
div.welfares{
	width: 100%;
	height: 550px;
	margin: 0 auto;
	background-color: #f4f0ea;
}
div.welfare{
	width: 1100px;
	/*height: 500px;*/
	margin: 0 auto;
	/*background-color: #336666;*/
}
div.welfare-top{
	width:100%;
	height:101px;
	/*background-color: #ccc;*/
	position: relative;
}
div.welfare-top>ul>li{
   position: absolute;
}
div.welfare-top>ul>li:nth-child(1){
	left: 0;
	top: 60px;
	font-size: 24px;
	font-weight: 700;
}
div.welfare-top>ul>li:nth-child(2){
	right: 0;
	top: 70px;
}
div.welfare-top>ul>li>a:hover{
	color: #b4a078;
}
div.welfare-content{
	width: 100%;
	height: 380px;
	background-color: #fff;
}
div.welfare-content::after{
  content: "";
  display: block;
  clear: both;
}
div.welfare-content1{
   float: left;
}
div.welfare-content2{
	width: 625px;
	/*height: 380px;*/
	/*background-color: green;*/
	float: left;
	border-right: 1px solid #f4f0ea;
	}
div.welfare-content2-top{
	/*height: 40px;*/
	/*background-color: #336666;*/
	border-bottom: 1px solid #f4f0ea;
	margin: 1.5em 1.5em 0 1.5em;
}
div.welfare-content2-top::after{
	content: "";
	display: block;
	clear: both;
}
div.welfare-content2-top>ul>li{
	text-align: center;
	line-height: 40px;
}
div.welfare-content2-top>ul>li:first-child{
	float: left;
	font-size: 16px;

}
div.welfare-content2-top>ul>li:last-child{
   float: right;
   font-size: 12px;
}
div.welfare-content2-top>ul>li:last-child>a:hover{
	color: #b4a078;
}
/*div.welfare-content2-content{
    margin: 1.2em;
    height: 320px;
    background-color: #ccc;
	position: relative;

*/
}
div.welfare-content2-content::after{
   content: "";
   display: block;
   clear: both;
}
div.welfare-content2-content>ul>li{
   margin: 1.5em;
   /*background-color:red;*/
	float: left;
	width:270px;
	height: 130px;


}
div.welfare-content2 div.welfare-content2-content>ul>li{
	position: relative;

}
div.welfare-content2 div.welfare-content2-content>ul>li:nth-child(1),
div.welfare-content2 div.welfare-content2-content>ul>li:nth-child(2)
{
	margin-bottom: 0;

}
 div.welfare-content2-content>ul>li:nth-child(1)>div.box1,
 div.welfare-content2-content>ul>li:nth-child(2)>div.box2,
 div.welfare-content2-content>ul>li:nth-child(3)>div.box3,
 div.welfare-content2-content>ul>li:nth-child(4)>div.box4
{   
	position: absolute;
	/*width: 130px;
	height:130px;*/
	/*border-right: .5px solid #ccc; */

}
 div.welfare-content2-content>ul>li:nth-child(1)>div.description1,
 div.welfare-content2-content>ul>li:nth-child(2)>div.description2,
 div.welfare-content2-content>ul>li:nth-child(3)>div.description3,
 div.welfare-content2-content>ul>li:nth-child(4)>div.description4
{
	position: absolute;
}

 div.welfare-content2-content>ul>li:nth-child(1)>div.box1>span,
 div.welfare-content2-content>ul>li:nth-child(2)>div.box2>span,
 div.welfare-content2-content>ul>li:nth-child(3)>div.box3>span,
 div.welfare-content2-content>ul>li:nth-child(4)>div.box4>span
            
     {     
			position: absolute;
			left:73px;
			top: 73px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			margin: .5em;
			padding: 0.1em .2em;
			border-radius: 50%;
			background-color: #f78d33;
			color: #ffffff;
			
	 }
 div.welfare-content2-content>ul>li:nth-child(1)>div.description1>p:nth-child(1)>a,
 div.welfare-content2-content>ul>li:nth-child(2)>div.description2>p:nth-child(1)>a,
 div.welfare-content2-content>ul>li:nth-child(3)>div.description3>p:nth-child(1)>a,
 div.welfare-content2-content>ul>li:nth-child(4)>div.description4>p:nth-child(1)>a

{  
	position: absolute;
	left: 130px;
	top: 2px;
	width: 140px;
	font-weight:400;
	font-size: 16px;
}
 div.welfare-content2-content>ul>li:nth-child(1)>div.description1>p:nth-child(1)>a:hover,
 div.welfare-content2-content>ul>li:nth-child(2)>div.description2>p:nth-child(1)>a:hover,
 div.welfare-content2-content>ul>li:nth-child(3)>div.description3>p:nth-child(1)>a:hover,
 div.welfare-content2-content>ul>li:nth-child(4)>div.description4>p:nth-child(1)>a:hover
{
   color: #b4a078;
}
 div.welfare-content2-content>ul>li:nth-child(1)>div.description1>p:nth-child(2),
 div.welfare-content2-content>ul>li:nth-child(2)>div.description2>p:nth-child(2),
 div.welfare-content2-content>ul>li:nth-child(3)>div.description3>p:nth-child(2),
 div.welfare-content2-content>ul>li:nth-child(4)>div.description4>p:nth-child(2)
{    
	position: absolute;
    left: 130px;
	top: 45px;
	width: 140px;
    color: #be4141;

}
div.welfare-content2-content>ul>li:nth-child(1)>div.description1>p:nth-child(2)>span:nth-child(2),
div.welfare-content2-content>ul>li:nth-child(2)>div.description2>p:nth-child(2)>span:nth-child(2),
div.welfare-content2-content>ul>li:nth-child(3)>div.description3>p:nth-child(2)>span:nth-child(2),
div.welfare-content2-content>ul>li:nth-child(4)>div.description4>p:nth-child(2)>span:nth-child(2)
{
   font-size: 18px;
   font-weight: 600;
}
div.welfare-content2-content>ul>li:nth-child(1)>div.description1>p:nth-child(3),
div.welfare-content2-content>ul>li:nth-child(2)>div.description2>p:nth-child(3),
div.welfare-content2-content>ul>li:nth-child(3)>div.description3>p:nth-child(3),
div.welfare-content2-content>ul>li:nth-child(4)>div.description4>p:nth-child(3)
{
	position: absolute;
    left: 130px;
	top: 70px;
	width: 140px;
	color: #a4a4a4;
}
div.welfare-content2-content>ul>li:nth-child(1)>div.description1>p:nth-child(3)>span:nth-child(2),
div.welfare-content2-content>ul>li:nth-child(2)>div.description2>p:nth-child(3)>span:nth-child(2),
div.welfare-content2-content>ul>li:nth-child(3)>div.description3>p:nth-child(3)>span:nth-child(2),
div.welfare-content2-content>ul>li:nth-child(4)>div.description4>p:nth-child(3)>span:nth-child(2)
{
   text-decoration: line-through;
}
div.welfare-content2-content>ul>li:nth-child(1)>div.description1>p:nth-child(4),
div.welfare-content2-content>ul>li:nth-child(2)>div.description2>p:nth-child(4),
div.welfare-content2-content>ul>li:nth-child(3)>div.description3>p:nth-child(4),
div.welfare-content2-content>ul>li:nth-child(4)>div.description4>p:nth-child(4)
{
	position: absolute;
    left: 130px;
	top: 95px;
	width: 140px;
	
}
div.welfare-content2-content>ul>li:nth-child(1)>div.description1>p:nth-child(4)>a,
div.welfare-content2-content>ul>li:nth-child(2)>div.description2>p:nth-child(4)>a,
div.welfare-content2-content>ul>li:nth-child(3)>div.description3>p:nth-child(4)>a,
div.welfare-content2-content>ul>li:nth-child(4)>div.description4>p:nth-child(4)>a
{
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	background-color: #be4141;
	color: #fff;
}
div.welfare-content2-content>ul>li:nth-child(1)>div.description1>p:nth-child(4)>a:hover,
div.welfare-content2-content>ul>li:nth-child(2)>div.description2>p:nth-child(4)>a:hover,
div.welfare-content2-content>ul>li:nth-child(3)>div.description3>p:nth-child(4)>a:hover,
div.welfare-content2-content>ul>li:nth-child(4)>div.description4>p:nth-child(4)>a:hover
{
	background-color: #da4f4f;
}

div.welfare-content3{
	width: 205px;
	/*height:354px;*/
	/*background-color: chocolate;*/
	margin: 1.5em;
	float: left;
}
/*div.wlfare-content3-1,
div.wlfare-content3-2
{
	width: 205px;
	height: 170px;
	background-color: pink;
}*/
div.welfare-content3-top1,
div.welfare-content3-top2
{
	/*width: 205px;*/
	height: 40px;
	/*background-color: #ccc;*/
}
div.welfare-content3-top1>ul>li,
div.welfare-content3-top2>ul>li
{
	text-align: center;
	line-height: 40px;
}
div.welfare-content3-top1>ul>li:first-child,
div.welfare-content3-top2>ul>li:first-child
{
	float: left;
	font-size: 16px;

}
div.welfare-content3-top1>ul>li:last-child,
div.welfare-content3-top2>ul>li:last-child
{
   float: right;
   font-size: 12px;
}
div.welfare-content3-top1>ul>li:last-child>a:hover,
div.welfare-content3-top2>ul>li:last-child>a:hover
{
	color: #b4a078;
}
/*div.welfare-content3-content1,
div.welfare-content3-content2
{
   height: 150px;
   background-color: #336666;
}*/
div.welfare-content3-content1>ul>li,
div.welfare-content3-content2>ul>li
{
	float: left;
}
div.welfare-content3-content1>ul>li:first-child>div.box1,
div.welfare-content3-content1>ul>li:last-child>div.box2,
div.welfare-content3-content2>ul>li:first-child>div.box1,
div.welfare-content3-content2>ul>li:last-child>div.box2
{
	/*width: 50px;
	height: 50px;*/
	/*border: 1px solid #ddd;*/
	background-color: #fbf9f6;
	float: left;
}
div.welfare-content3-content1>ul>li:last-child>div.box2,
div.welfare-content3-content2>ul>li:last-child>div.box2
{
	margin-top: 1.4em;
}
div.welfare-content3-content1>ul>li:first-child>div.description1,
div.welfare-content3-content1>ul>li:last-child>div.description2,
div.welfare-content3-content2>ul>li:first-child>div.description1,
div.welfare-content3-content2>ul>li:last-child>div.description2
{
	/*height: 50px;
	width: 130px;*/
	/*background-color:#fff;*/
	/*border: 1px solid #ddd;*/
	margin-left:1.4em;
	float: left;
}
div.welfare-content3-content1>ul>li:last-child>div.description2,
div.welfare-content3-content2>ul>li:last-child>div.description2
{
	margin-top: 1.4em;
}
div.welfare-content3-content1>ul>li:first-child>div.description1>p:nth-child(1)>a:hover,
div.welfare-content3-content1>ul>li:last-child>div.description2>p:nth-child(1)>a:hover,
div.welfare-content3-content2>ul>li:first-child>div.description1>p:nth-child(1)>a:hover,
div.welfare-content3-content2>ul>li:last-child>div.description2>p:nth-child(1)>a:hover
{
	color:  #b4a078;
}
div.welfare-content3-content1>ul>li:first-child>div.description1>p:nth-child(2)>span,
div.welfare-content3-content1>ul>li:last-child>div.description2>p:nth-child(2)>span,
div.welfare-content3-content2>ul>li:first-child>div.description1>p:nth-child(2)>span,
div.welfare-content3-content2>ul>li:last-child>div.description2>p:nth-child(2)>span
{

	color: #be4141;
}
div.welfare-content3-content1>ul>li:first-child>div.description1>p:nth-child(2)>a,
div.welfare-content3-content1>ul>li:last-child>div.description2>p:nth-child(2)>a

{
	margin-left: 80px;

}
div.welfare-content3-content2>ul>li:first-child>div.description1>p:nth-child(2)>a,
div.welfare-content3-content2>ul>li:last-child>div.description2>p:nth-child(2)>a
{
	margin-left:20px; 
}
div.welfare-content3-content2>ul>li:first-child>div.description1>p:nth-child(2)>span:nth-child(2),
div.welfare-content3-content2>ul>li:last-child>div.description2>p:nth-child(2)>span:nth-child(2)
{
	color: #999;
	margin-left: .2em;
	text-decoration: line-through;
}
div.massing
{
	width: 100%;
	/*height: 3000px;*/
	/*background-color: #ccc;*/
}
div.home,
div.shoe,
div.dress,
div.ele,
div.wash,
div.food,
div.kitchen,
div.baby,
div.play,
div.area,
div.zhen
{
	width: 1100px;
	height: 800px;
	/*background-color: orange;*/
	margin:0 auto;
}
div.zhen{
	height: 640px;
}
div.home-top,
div.shoe-top,
div.dress-top,
div.ele-top,
div.wash-top,
div.food-top,
div.kitchen-top,
div.baby-top,
div.play-top,
div.area-top,
div.zhen-top

{
	height: 100px;
	/*width: 100%;*/
	/*background-color: #336666;*/
}
div.home-top>ul>li:nth-child(1),
div.shoe-top>ul>li:nth-child(1),
div.dress-top>ul>li:nth-child(1),
div.ele-top>ul>li:nth-child(1),
div.wash-top>ul>li:nth-child(1),
div.food-top>ul>li:nth-child(1),
div.kitchen-top>ul>li:nth-child(1),
div.baby-top>ul>li:nth-child(1),
div.play-top>ul>li:nth-child(1),
div.area-top>ul>li:nth-child(1),
div.zhen-top>ul>li:nth-child(1)
{
  	float: left;
  	margin-top: 50px;
  	font-size: 24px;
  	font-weight: 700;
}
div.zhen-top>ul>li:nth-child(2)
{
   float: left;
   margin-top: 65px;
   margin-left: 15px;
}
div.home-top>ul>li:nth-child(2)>ul>li,
div.shoe-top>ul>li:nth-child(2)>ul>li,
div.dress-top>ul>li:nth-child(2)>ul>li,
div.ele-top>ul>li:nth-child(2)>ul>li,
div.wash-top>ul>li:nth-child(2)>ul>li,
div.food-top>ul>li:nth-child(2)>ul>li,
div.kitchen-top>ul>li:nth-child(2)>ul>li,
div.baby-top>ul>li:nth-child(2)>ul>li,
div.play-top>ul>li:nth-child(2)>ul>li,
div.area-top>ul>li:nth-child(2)>ul>li
{  
	/*width: 100%;*/
	margin-top: 60px;
	margin-left: 10px;
	float: right;
	margin-right: 10px;
}
div.home-top>ul>li:nth-child(2)>ul>li>a:hover,
div.shoe-top>ul>li:nth-child(2)>ul>li>a:hover,
div.dress-top>ul>li:nth-child(2)>ul>li>a:hover,
div.ele-top>ul>li:nth-child(2)>ul>li>a:hover,
div.wash-top>ul>li:nth-child(2)>ul>li>a:hover,
div.food-top>ul>li:nth-child(2)>ul>li>a:hover,
div.kitchen-top>ul>li:nth-child(2)>ul>li>a:hover,
div.baby-top>ul>li:nth-child(2)>ul>li>a:hover,
div.play-top>ul>li:nth-child(2)>ul>li>a:hover,
div.area-top>ul>li:nth-child(2)>ul>li>a:hover
{
		color: #b4a078; 
}
div.home-top>ul>li:nth-child(1)>a:hover,
div.shoe-top>ul>li:nth-child(1)>a:hover,
div.dress-top>ul>li:nth-child(1)>a:hover,
div.ele-top>ul>li:nth-child(1)>a:hover,
div.wash-top>ul>li:nth-child(1)>a:hover,
div.food-top>ul>li:nth-child(1)>a:hover,
div.kitchen-top>ul>li:nth-child(1)>a:hover,
div.baby-top>ul>li:nth-child(1)>a:hover,
div.play-top>ul>li:nth-child(1)>a:hover,
div.area-top>ul>li:nth-child(1)>a:hover

{
		color: #b4a078; 
}
div.zhen-content
{
    height: 460px;
    background-color: #ccc;
}
div.zhen-content>ul>li:first-child
{
	float: left;
	margin-right: .8em;
}
div.zhen-content>ul>li:nth-child(2)
{
   float: left;
   margin-bottom: .6em;
}
div.home-content>div.box,
div.shoe-content>div.box,
div.dress-content>div.box,
div.ele-content>div.box,
div.wash-content>div.box,
div.food-content>div.box,
div.kitchen-content>div.box,
div.baby-content>div.box,
div.play-content>div.box,
div.area-content>div.box
{
	height: 265px;
	margin-top: 15px;
}
div.home-content>div.box::after,
div.shoe-content>div.box::after,
div.dress-content>div.box::after,
div.ele-content>div.box::after,
div.wash-content>div.box::after,
div.food-content>div.box::after,
div.kitchen-content>div.box::after,
div.baby-content>div.box::after,
div.play-content>div.box::after,
div.area-content>div.box::after
{
	content: "";
	display: block;
	clear: both;
}

div.home-content>div.box>ul>li,
div.shoe-content>div.box>ul>li,
div.dress-content>div.box>ul>li,
div.ele-content>div.box>ul>li,
div.wash-content>div.box>ul>li,
div.food-content>div.box>ul>li,
div.kitchen-content>div.box>ul>li,
div.baby-content>div.box>ul>li,
div.play-content>div.box>ul>li,
div.area-content>div.box>ul>li
{   
	width: 265px;
	height: 265px;
	background-color: #f4f4f4;
	margin-right: 10px;
	float: left;
	overflow: hidden;
	position: relative;
}
div.home-content>div.box>ul>li>a>img,
div.shoe-content>div.box>ul>li>a>img,
div.dress-content>div.box>ul>li>a>img,
div.ele-content>div.box>ul>li>a>img,
div.wash-content>div.box>ul>li>a>img,
div.food-content>div.box>ul>li>a>img,
div.kitchen-content>div.box>ul>li>a>img,
div.baby-content>div.box>ul>li>a>img,
div.play-content>div.box>ul>li>a>img,
div.area-content>div.box>ul>li>a>img
{
	transition: transform 1s;
}
div.home-content>div.box>ul>li:hover>a>img,
div.shoe-content>div.box>ul>li:hover>a>img,
div.dress-content>div.box>ul>li:hover>a>img,
div.ele-content>div.box>ul>li:hover>a>img,
div.wash-content>div.box>ul>li:hover>a>img,
div.food-content>div.box>ul>li:hover>a>img,
div.kitchen-content>div.box>ul>li:hover>a>img,
div.baby-content>div.box>ul>li:hover>a>img,
div.play-content>div.box>ul>li:hover>a>img,
div.area-content>div.box>ul>li:hover>a>img
{
    transform: scale(1.06);
			

}
div.home-content>div.box>ul>li>span,
div.shoe-content>div.box>ul>li>span,
div.dress-content>div.box>ul>li>span,
div.ele-content>div.box>ul>li>span,
div.wash-content>div.box>ul>li>span,
div.food-content>div.box>ul>li>span,
div.kitchen-content>div.box>ul>li>span,
div.baby-content>div.box>ul>li>span,
div.play-content>div.box>ul>li>span,
div.area-content>div.box>ul>li>span
{          
    position: absolute;
    top: 0;
    left: 0;
    margin:1em;
	padding: 0.1em .1em;
	background-color: #f4f0ea;
	border: 1px solid #b3a07d;
	border-radius: .5em;
	color: #b3a07d;
	/*font-size: 12px;*/
}

div.home-content>div.description,
div.shoe-content>div.description,
div.dress-content>div.description,
div.ele-content>div.description,
div.wash-content>div.description,
div.food-content>div.description,
div.kitchen-content>div.description,
div.baby-content>div.description,
div.play-content>div.description,
div.area-content>div.description
{
	margin-top: 5px;
	height: 100px;
	/*background-color: green;*/
}
div.home-content>div.description>ul>li,
div.shoe-content>div.description>ul>li,
div.dress-content>div.description>ul>li,
div.ele-content>div.description>ul>li,
div.wash-content>div.description>ul>li,
div.food-content>div.description>ul>li,
div.kitchen-content>div.description>ul>li,
div.baby-content>div.description>ul>li,
div.play-content>div.description>ul>li,
div.area-content>div.description>ul>li
{   
	text-align: center;
	width: 265px;
	height: 100px;
	/*background-color: #989898;*/
	margin-right: 10px;
	float: left;
}
div.home-content>div.description>ul>li>p,
div.shoe-content>div.description>ul>li>p,
div.dress-content>div.description>ul>li>p,
div.ele-content>div.description>ul>li>p,
div.wash-content>div.description>ul>li>p,
div.food-content>div.description>ul>li>p,
div.kitchen-content>div.description>ul>li>p,
div.baby-content>div.description>ul>li>p,
div.play-content>div.description>ul>li>p,
div.area-content>div.description>ul>li>p
{
   margin-top: 5px;
}
div.home-content>div.description>ul>li>p:nth-child(1)>span,
div.shoe-content>div.description>ul>li>p:nth-child(1)>span,
div.dress-content>div.description>ul>li>p:nth-child(1)>span,
div.ele-content>div.description>ul>li>p:nth-child(1)>span,
div.wash-content>div.description>ul>li>p:nth-child(1)>span,
div.food-content>div.description>ul>li>p:nth-child(1)>span,
div.kitchen-content>div.description>ul>li>p:nth-child(1)>span,
div.baby-content>div.description>ul>li>p:nth-child(1)>span,
div.play-content>div.description>ul>li>p:nth-child(1)>span,
div.area-content>div.description>ul>li>p:nth-child(1)>span
{
    margin:1em .5em;
	padding: 0.1em .2em;
	background-color: #e36844;
	color: #ffffff;
}
div.home-content>div.description>ul>li:nth-child(2)>p:nth-child(1)>span:nth-child(1),
div.wash-content>div.description>ul>li:nth-child(4)>p:nth-child(1)>span,
div.food-content>div.description>ul>li:nth-child(1)>p:nth-child(1)>span:nth-child(1),
div.baby-content>div.description>ul>li:nth-child(3)>p:nth-child(1)>span:nth-child(1),
div.area-content>div.description>ul>li:nth-child(4)>p:nth-child(1)>span
{
			background-color: #f28f2d;	
}
div.ele-content>div.description>ul>li:nth-child(3)>p:nth-child(1)>span,
div.area-content>div.description>ul>li:nth-child(2)>p:nth-child(1)>span
{
   background-color: #b4a078;
}
div.home-content>div.description>ul>li>p:nth-child(2)>a,
div.shoe-content>div.description>ul>li>p:nth-child(2)>a,
div.dress-content>div.description>ul>li>p:nth-child(2)>a,
div.ele-content>div.description>ul>li>p:nth-child(2)>a,
div.wash-content>div.description>ul>li>p:nth-child(2)>a,
div.food-content>div.description>ul>li>p:nth-child(2)>a,
div.kitchen-content>div.description>ul>li>p:nth-child(2)>a,
div.baby-content>div.description>ul>li>p:nth-child(2)>a,
div.play-content>div.description>ul>li>p:nth-child(2)>a,
div.area-content>div.description>ul>li>p:nth-child(2)>a
{
	font-weight: 600;
}
div.home-content>div.description>ul>li>p:nth-child(2)>a:hover,
div.shoe-content>div.description>ul>li>p:nth-child(2)>a:hover,
div.dress-content>div.description>ul>li>p:nth-child(2)>a:hover,
div.ele-content>div.description>ul>li>p:nth-child(2)>a:hover,
div.wash-content>div.description>ul>li>p:nth-child(2)>a:hover,
div.food-content>div.description>ul>li>p:nth-child(2)>a:hover,
div.kitchen-content>div.description>ul>li>p:nth-child(2)>a:hover,
div.baby-content>div.description>ul>li>p:nth-child(2)>a:hover,
div.play-content>div.description>ul>li>p:nth-child(2)>a:hover,
div.area-content>div.description>ul>li>p:nth-child(2)>a:hover
{
	color: #b4a078;
}
div.home-content>div.description>ul>li>p:nth-child(3),
div.shoe-content>div.description>ul>li>p:nth-child(3),
div.dress-content>div.description>ul>li>p:nth-child(3),
div.ele-content>div.description>ul>li>p:nth-child(3),
div.wash-content>div.description>ul>li>p:nth-child(3),
div.food-content>div.description>ul>li>p:nth-child(3),
div.kitchen-content>div.description>ul>li>p:nth-child(3),
div.baby-content>div.description>ul>li>p:nth-child(3),
div.play-content>div.description>ul>li>p:nth-child(3),
div.area-content>div.description>ul>li>p:nth-child(3)
{
    color:#d4282d;
}
div.home-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2),
div.shoe-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2),
div.dress-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2),
div.ele-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2),
div.wash-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2),
div.food-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2),
div.kitchen-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2),
div.baby-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2),
div.play-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2),
div.area-content>div.description>ul>li>p:nth-child(3)>span:nth-child(2)
{
	font-size: 12px;
	margin: .8em;
	color: #999;
	text-decoration: line-through;
}
div.custs
{
	width: 100%;
	height: 300px;
	/*background-color: #336666;*/
}

div.cust
{
   width: 1100px;
   height: 300px;
   /*background-color: #990765;*/
   position: relative;
   margin: 0 auto;
}
/*div.cust::after
{
	content: "";
   display: block;
   clear: both;
}*/
div.cust>div.cust-left,
div.cust>div.cust-center,
div.cust>div.cust-right
{
	width: 366px;
	height:210px;
	top: 60px;
	float: left;
	border-right: 1px solid #ccc;
	position: absolute;
}
div.cust>div.cust-right
{
	right: 0;
	border-right: 0;

}
div.cust>div.cust-center
{
    left: 365px;
}
div.cust-left-top,
div.cust-center-top,
div.cust-right-top
{  
	text-align: center;
    font-size: 16px;

}
div.cust-left-content,
div.cust-right-content
{
	margin:2em;
	text-align: center;

}
/*div.cust-left-content::after,*/
/*div.cust-center-content::after*/
/*div.cust-right-content::after*/
{
   content: "";
   display: block;
   clear: both;
}
div.cust-left-content>ul>li
{
	width: 80px;
	height: 100px;
	border: 1px solid #ccc;
	margin-right: 30px;
	float: left;
}
div.cust-left-content>ul>li>a>i
{
	font-size: 30px;
	margin-top: 20px;
}
div.cust-left-content>ul>li>a>p
{
	margin-top: 10px;
}

div.cust-left-content>ul>li>a:hover
{
    color: #b4a078;
}

div.cust-left-content>ul>li:nth-child(1)
{
     margin-left: 54px;
}
div.cust-center-content>ul>li:nth-child(1)
{
	margin:2em;
	text-align: left;
}
div.cust-center-content>ul>li:nth-child(2)
{
	margin:0 2em 2em 2em;
	/*position: relative;*/

}
div.cust-center-content>ul>li:nth-child(2)>div.guan
{
	/*position: relative;*/
	height: 26px;
	/*background-color: red;*/
    
}
div.cust-center-content>ul>li:nth-child(2)>div.guan::after
{
	content: "";
	display: block;
	clear: both;
}

div.cust-center-content>ul>li:nth-child(2)>div.guan>span
{
       /*position: absolute;
       top: 0;
       left: 0;*/
       float: left;
       line-height: 26px;
       text-align: center;
}
div.cust-center-content>ul>li:nth-child(2)>div.guan>div.ren>i
{
	
	margin-right: 10px;
	float: left;
	color: #0059a9;
	font-size: 26px;
	
}
div.cust-center-content>ul>li:nth-child(2)>div.guan>div.wei>i
{
	color: green;
	margin-right: 10px;
	float: left;
	font-size: 26px;
}
div.cust-center-content>ul>li:nth-child(2)>div.guan>div.wb>i
{
	color:red;
	float: left;
	font-size: 26px;
}
div.ren
{
	position: relative;
}
div.renrenwang
{
	position: absolute;
	width: 124px;
	height: 124px;
	background-color: red;
	top: 3em;
	display: none;
	background-color:#fff;
}
div.cust-center-content>ul>li:nth-child(2)>div.guan>div.ren:hover.renrenwang
{
	display: block;
}
div.cust-right-content
{
	font-size: 12px;
	color: #b4a078;
}
div.footers
{
	width: 100%;
	height: 210px;
	background-color: #414141;
}
div.footer
{
	width: 1100px;
	/*height: 210px;*/
	margin: 0 auto;
	/*background-color: #336600;*/
	/*border-bottom:1px solid #ccc;*/
}
div.footer-top
{
	height: 120px;
	/*background-color: #fff;*/
}
div.footer-top>ul::after
{
	content: "";
	display: block;
	clear: both;
}

div.footer-top>ul>li
{
	width: 364px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	border-bottom: 1px solid #4f4f4f;
	color: #fff;
	font-size: 20px;
	float: left;
}
div.footer-top>ul>li>i
{
	margin-right: 8px;
	font-size: 35px;
}
div.footer-center>ul
{  
	width: 1100px;
	/*height: 50px;*/
   margin-top: 30px;
	margin-left: 170px;
   /*margin: 0 auto;*/
   float: left;
}
div.footer-center::after
{
	content: "";
	display: block;
	clear: both;
}
div.footer-center>ul>li
{
	 font-size: 12px;
	float: left;
	width: 78px;
	height: 16px;
	border-right: 1px solid #999;
	text-align: center;
}
div.footer-center>ul>li>a
{
	color: #999;
}

div.footer-center>ul>li:nth-child(4)
{
	width: 85px;
}
div.footer-center>ul>li:nth-child(9)
{
	border-right: 0;
}
div.footer-bottom
{
	margin-top: -25px;
	margin-left: 90px;
	 font-size: 12px;
	 height: 35px;
	 color: #999;
    float: left;
}
div.footer-bottom>p>a
{
	color: #999;
}
